{{ header }}
<style>
	#footer{position: fixed;width: 100%}
</style>
<div id="content-container">
<div id="room_slider_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="sleek-landing-page" data-source="gallery" style="background-color:transparent;padding:0px;">
	<div id="room_slider" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
			{% if categories %}
				<ul>
				{% for key,room in categories %}
					<li data-index="rs-{{ key }}" data-transition="slidevertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
						<img src="{{ room.thumb }}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" class="rev-slidebg" data-no-retina />
						<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
						id="slide-rs-{{ key }}" 
						data-x="['right','right','right','right']"
						data-hoffset="['0','0','0','15']" 
						data-y="['bottom','bottom','bottom','bottom']"
						data-voffset="['100','100','100','50']" 
						data-width="['400','400','360','330']"
						data-height="['auto','auto','auto','auto']"
						data-whitespace="nowrap"
						data-type="shape" 
						data-responsive_offset="on" 
						data-frames='[{"delay":0,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
						data-textAlign="['left','left','left','left']"
						data-paddingtop="[15,15,15,15]"
						data-paddingright="[15,15,15,15]"
						data-paddingbottom="[15,15,15,15]"
						data-paddingleft="[15,15,15,15]"
						style="z-index: 5;background-color:rgba(0,0,0,0.40);"> 

						<div class="section section-text">
						
						<div class="section-content">
							<h2 class="section-title">{{ room.name }}<span>GREEN PALM ROOMS</span></h2>
							<div class="section-desc">
										<span style="font-size:16px;color:#ffff00;">原價 : {{ room.price }}</span>
							</div>
							<div class="section-desc">
								<div class="clearfix">
									<div class="col-md-3 price">
										<span class="price-title">平日</span>
										<span class="price-value">{{ room.weekday }}</span>
									</div>
									<div class="col-md-3 price">
										<span class="price-title">旺日</span>
										<span class="price-value">{{ room.hectic_day_price }}</span>
									</div>									
									<div class="col-md-3 price">
										<span class="price-title">假日</span>
										<span class="price-value">{{ room.holiday }}</span>
									</div>									
									<div class="col-md-3 price">
										<span class="price-title">休息</span>
										<span class="price-value">{{ room.rest_price }}</span>
									</div>
								</div>
								<div class="notice">春節期間及特殊節日房價以現場公告為主。</div>
							</div>
							<div class="rooms clearfix">
							{% for category_room in room.rooms %}
								<a href="{{ category_room.href }}" class="btn btn-default btn-more">{{ category_room.name }}</a>
							{% endfor %}
						</div>
						</div>
					</div>
					</div>
				</li>
				{% endfor %}
			</ul>
			{% endif %}
			
		</div>
	</div> 
	<div class="clear"></div>
</div>
<div class="tp-static-layers">
	<h2><img src="images/room_category_title.png" class="img-responsive" ></h2>
</div>
<div id="left_welcome_icon"><img src="images/left_welcome_icon.png" class="img-responsive" ></div>
<script type="text/javascript">
			var tpj=jQuery;
			var slider;
			tpj(document).ready(function() {
				if(tpj("#room_slider").revolution == undefined){
					revslider_showDoubleJqueryError("#room_slider");
				}else{
					slider = tpj("#room_slider").show().revolution({
						sliderType:"standard",
						sliderLayout:"fullscreen",
						dottedOverlay:"none",
						delay:9000,
						navigation: {
							keyboardNavigation:"on",
							keyboard_direction: "vertical",
							mouseScrollNavigation:"carousel",
 							mouseScrollReverse:"default",
							onHoverStop:"off",
							touch:{
								touchenabled:"on",
								swipe_threshold: 75,
								swipe_min_touches: 1,
								swipe_direction: "vertical",
								drag_block_vertical: true
							},
							bullets: {
								enable:true,
								hide_onmobile:true,
								hide_under:778,
								style:"green",
								hide_onleave:false,
								direction:"vertical",
								h_align:"left",
								v_align:"bottom",
								h_offset:32,
								v_offset:90,
								space:5,
								tmp:''
							}
						},
						responsiveLevels:[1240,1024,778,480],
						visibilityLevels:[1240,1024,778,480],
						gridwidth:[1240,1024,778,480],
						gridheight:[868,768,960,720],
						lazyType:"smart",
						shadow:0,
						spinner:"spinner2",
						stopLoop:"on",
						stopAfterLoops:-1,
						stopAtSlide:-1,
						shuffle:"off",
						autoHeight:"off",
						fullScreenAutoWidth:"off",
						fullScreenAlignForce:"off",
						disableProgressBar:"on",
						hideThumbsOnMobile:"off",
						hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						debugMode:false,
						fallbacks: {
							simplifyAll:"off",
							nextSlideOnWindowFocus:"off",
							disableFocusListener:false,
						}
					});
				}
			});	/*ready*/
		</script>
{{ footer }}