{{ header }}
<style>
    #footer{position: fixed;width: 100%}
</style>
<div class="clearfix">
    <div class="hg-slideshow">
        <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="greekhotel-slider" data-source="gallery" style="background:rgba(102,102,102,0);padding:0px;">
            <div id="rev_slider_1_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.5.1">
                <ul>
                    {% for k,image in images %}
                        <li data-index="rs-{{ k }}" data-transition="slotzoom-horizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="{{ image.image }}"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <img src="{{ image.image }}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="{{ k }}" class="rev-slidebg" data-no-retina>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tp-bannertimer tp-bottom" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);"></div>
            </div>
        </div>
    </div>
</div>
<div id="content-text">
    <div class="overlay">
        <div class="room-title">
            <a class="toggle hidden-md hidden-lg"><img src="images/room_description_title_v.png"></a>
            <img src="images/room_description_title_v.png" class="hidden-xs hidden-sm">
        </div>
        <h2>{{ name }} 房間設施</h2>
        <div id="price-container">
            {% if facilities %}
                <div class="facilities">
                    <ul>
                        {% for key,facility in facilities %}
                            <li>{{ facility.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="section-desc">
              <span style="font-size:16px; margin-bottom: 10px; display: block; text-align: center">原價 : {{ price }}</span>
            </div>
            <br>
            <div class="clearfix">
                <div class="col-md-3 price">
                    <span class="price-title">平日</span>
                    <span class="price-value">{{ weekday }}</span>
                </div>
                <div class="col-md-3 price">
                    <span class="price-title">旺日</span>
                    <span class="price-value">{{ hectic_day_price }}</span>
                </div>   
                <div class="col-md-3 price">
                    <span class="price-title">假日</span>
                    <span class="price-value">{{ holiday }}</span>
                </div>
                <div class="col-md-3 price">
                    <span class="price-title">休息</span>
                    <span class="price-value">{{ rest_price }}</span>
                </div>

            </div>

                <div class="others">
                    <a href="{{ back }}">Back</a>
                </div>
        </div>
    </div>
</div>
<div id="left_welcome_icon"><img src="images/left_welcome_icon.png" class="img-responsive" ></div>
<script>
var revapi1;
jQuery(document).ready(function() {
    if(jQuery("#rev_slider_1_1").revolution == undefined){
        revslider_showDoubleJqueryError("#rev_slider_1_1");
    }else{
        revapi1 = jQuery("#rev_slider_1_1").show().revolution({
                        sliderType:"standard",
                        sliderLayout:"fullscreen",
                        dottedOverlay:"none",
                        delay:9000,
                        navigation: {
                            keyboardNavigation:"off",
                            keyboard_direction: "horizontal",
                            mouseScrollNavigation:"off",
                            mouseScrollReverse:"default",
                            onHoverStop:"off",
                            touch:{
                                touchenabled:"on",
                                swipe_threshold: 75,
                                swipe_min_touches: 1,
                                swipe_direction: "horizontal",
                                drag_block_vertical: true
                            },
                            arrows: {
                                style:"gyges",
                                enable:true,
                                hide_onmobile:false,
                                hide_onleave:true,
                                hide_delay:200,
                                hide_delay_mobile:1200,
                                tmp:'',
                                left: {
                                    h_align:"left",
                                    v_align:"center",
                                    h_offset:0,
                                    v_offset:0
                                },
                                right: {
                                    h_align:"right",
                                    v_align:"center",
                                    h_offset:0,
                                    v_offset:0
                                }
                            },
                            thumbnails: {
                                style:"erinyen",
                                enable:false,
                                width:150,
                                height:100,
                                min_width:150,
                                wrapper_padding:15,
                                wrapper_color:"#fff",
                                wrapper_opacity:"1",
                                tmp:'<span class="tp-thumb-over"></span><span class="tp-thumb-image"></span><span class="tp-thumb-more"></span>',
                                visibleAmount:6,
                                hide_onmobile:true,
                                hide_under:800,
                                hide_onleave:false,
                                direction:"horizontal",
                                span:false,
                                position:"inner",
                                space:15,
                                h_align:"center",
                                v_align:"bottom",
                                h_offset:0,
                                v_offset:60
                            }
                        },
                        responsiveLevels:[1240,1024,778,480],
                        visibilityLevels:[1240,1024,778,480],
                        gridwidth:[1240,1024,778,480],
                        gridheight:[800,700,600,500],
                        lazyType:"none",
                        scrolleffect: {
                            fade:"on",
                            blur:"on",
                            maxblur:"100",
                            on_slidebg:"on",
                            on_parallax_layers:"on",
                            direction:"top",
                        },
                        parallax: {
                            type:"scroll",
                            origo:"enterpoint",
                            speed:400,
                            speedbg:0,
                            speedls:0,
                            levels:[5,10,15,20,25,30,35,40,45,46,47,48,49,50,51,55],
                        },
                        shadow:0,
                        spinner:"",
                        stopLoop:"off",
                        stopAfterLoops:-1,
                        stopAtSlide:-1,
                        shuffle:"off",
                        autoHeight:"off",
                        fullScreenAutoWidth:"off",
                        fullScreenAlignForce:"off",
                        fullScreenOffsetContainer: "",
                        fullScreenOffset: "",
                        disableProgressBar:"on",
                        hideThumbsOnMobile:"off",
                        hideSliderAtLimit:0,
                        hideCaptionAtLimit:0,
                        hideAllCaptionAtLilmit:0,
                        debugMode:false,
                        fallbacks: {
                            simplifyAll:"off",
                            nextSlideOnWindowFocus:"off",
                            disableFocusListener:false,
                        }
                    });
                }

            }); /*ready*/

$(document).on('click','.toggle',function() {
    var right = $('#content-text').css('right');
    if(right == '0px') {
        $('#content-text').animate({right:"-300px"});
    } else {
        $('#content-text').animate({right:0});
    }
});
</script>
{{ footer }}