{{ header }}
    <div class="warp">
        <div class="new">
            <div class="title">
                <img src="images/new-title.png" alt="" class="fadeInUp wow" data-wow-delay=".1s"/>
                <p class="new-title">
                    <img src="images/new-img.png" alt="" class="fadeInUp wow" data-wow-delay=".3s"/>
                </p>
            </div>
            <div class="new-slide">
                <div class="slide-block">
                    <img src="images/slide.png" alt="" class="slide-pc scroll-top fadeInUp wow" data-wow-delay=".5s"/>
                    <img src="images/i-slide.svg" alt="" class="slide-mobile scroll-top"/>
                    <p>
                        <img src="images/about-slide-before.png" alt="" class=" fadeInUp wow" data-wow-delay=".7s"/>
                        
                    </p>                    
                </div>
            </div>
            <div class="new-container clearfix">
            {% for new in newsies %}
                <div class="new-item fadeInUp wow" data-wow-delay=".2s">
                    <a href="{{ new.href }}">
                        <img src="{{ new.thumb }}" alt=""/>
                        <div class="swiper-new"> {{ new.name }}</div>
                        <div class="swiper-new-div">
                            <h1>{{ new.month }}.</h1>
                            <h2>{{ new.day }}</h2>
                            <span class="swiper-good-thing-div-line"></span>
                            <span class="swiper-new-span">{{ new.weekday }}</span>
                        </div>
                    </a>
                </div><!-- new-item --> 
            {% endfor %}            
            </div><!-- new-container -->
            <div class="new-slide-bottom clearfix">
                {{ pagination }}
            </div>
            <div class="new-slide-bottom clearfix">
                <p><img src="images/about-slide-after.png" alt="" class="fadeInUp wow" data-wow-delay=".1s"/></p>
                <p><img src="images/new-img.png" alt="" class="fadeInUp wow" data-wow-delay=".2s"/></p>
                <p><img src="images/i-slide-bottom.png" alt="" class="slide-pc scroll-bottom fadeInUp wow" data-wow-delay=".3s"/>
                <img src="images/i-slide-bottom.svg" alt="" class="slide-mobile scroll-bottom"/>
                </p>
            </div>
        </div><!-- new -->  
    </div><!-- warp -->
<script type="text/javascript"> 
$(function(){   
    $(".scroll-top").click(function(){      
        $('html, body').animate({scrollTop: $(".new-container").offset().top -130}, 900);
        return false;
    });
     $(".scroll-bottom").click(function(){
        $("html,body").animate({scrollTop:0},900);
        return false;
    });     
});
</script>

{{ footer }}