{{ header }}
  <div class="warp">
    <div class="new">
      <div class="title">
        <img src="images/new-title.png" alt="" class="fadeInUp wow" data-wow-delay=".1s">
        <p class="new-title">
          <img src="images/new-img.png" alt="" class="fadeInUp wow" data-wow-delay=".3s">
        </p>
      </div>
      <div class="new-slide">
        <div class="slide-block">
          <img src="images/slide.png" alt="" class="slide-pc scroll-top fadeInUp wow" data-wow-delay=".5s">
          <img src="images/i-slide.svg" alt="" class="slide-mobile scroll-top">
          <p>
            <img src="images/about-slide-before.png" alt="" class=" fadeInUp wow" data-wow-delay=".7s">           
          </p>          
        </div>
      </div>
      <div class="new-category clearfix">
        <div class="new-date-block clearfix">
          <div class="new-date fadeInUp wow" data-wow-delay=".9s">
            <h1>{{ month }}.</h1>
            <h2>{{ day }}</h2>
            <span class="swiper-good-thing-div-line"></span>
                <span class="swiper-new-span">{{ weekday }}</span>
          </div>
          <div class="new-category-title fadeInUp wow" data-wow-delay="1s">
            {{ title }}
          </div>
        </div>
        <div class="new-category-img-block">
          <img src="{{ image }}" alt="">
          <div class="new-category-txt">
            <p class="fadeInUp wow" data-wow-delay=".1s">{{ description }}</p>
<!--             <p class="fadeInUp wow" data-wow-delay=".1s">歡迎來到咖啡好事多Coffee Plus不用去咖啡館也能喝到的新鮮咖啡</p>
            <p class="fadeInUp wow" data-wow-delay=".3s">\嚴選國外進口咖啡豆，與20年製豆經驗工廠合作直送，保證品質優良/</p>
            <p class="new-category-p fadeInUp wow" data-wow-delay=".5s">Coffee Plus堅持一個原則──我們只推薦品質好的咖啡豆給大家，不好的我們寧可不要賣！</p> -->
          </div>
        </div>
      </div>
      <div class="new-slide-bottom clearfix">
        <p><img src="images/about-slide-after.png" alt="" class="fadeInUp wow" data-wow-delay=".1s"></p>
        <p><img src="images/new-img.png" alt="" class="fadeInUp wow" data-wow-delay=".2s"></p>
        <p><img src="images/i-slide-bottom.png" alt="" class="slide-pc scroll-bottom fadeInUp wow" data-wow-delay=".3s">
        <img src="images/i-slide-bottom.svg" alt="" class="slide-mobile scroll-bottom">
        </p>
      </div>
    </div><!-- new --> 
  </div><!-- warp -->
<script type="text/javascript"> 
$(function(){ 
  $(".scroll-top").click(function(){    
    $('html, body').animate({scrollTop: $(".new-category").offset().top -130}, 900);
    return false;
  });
   $(".scroll-bottom").click(function(){
    $("html,body").animate({scrollTop:0},900);
    return false;
  });   
});
</script>

{{ footer }}