{{ header }}
<div class="products-img products-img-item"></div>
<div class="cart-warp">
  <div class="checkout-details">
    	<form action="{{ action }}" id="checkout-form" method="post" enctype="multipart/form-data" class="form form-horizontal">
        <div class="cart-details-title">
          <p>付款方式 / <span> payment method</span></p>           
        </div>
        <div class="payment-method-txt">
           {{ payment }}
        </div>
    		<div class="row">          
    			<div class="col-lg-6">    				
    				<div class="well">
              <h1>訂購者資料</h1>
              <div class="checkout-data clearfix">
                <div class="checkout-data-txt">姓<span class="le-padding"></span>名</div>
                <div class="checkout-data-input"><input type="text" name="payment_name" id="payment_name" class="form-control require" value="{{ payment_name }}" >
                  {% if warning.payment_name %}
                  <div class="text-danger">{{ warning.payment_name }}</div> 
                  {% endif %}
                </div>
              </div>
              

              <div class="checkout-data clearfix">
                <div class="checkout-data-txt">行動電話</div>
                <div class="checkout-data-input"><input type="text" name="payment_mobile" id="payment_mobile" class="form-control require" value="{{ payment_mobile }}">
                  {% if warning.payment_mobile %}
                  <div class="text-danger">{{ warning.payment_mobile }}</div> 
                  {% endif %}
              </div>
              </div>

              <div class="checkout-data clearfix">
                <div class="checkout-data-txt">電子郵件</div>               
                <div class="checkout-data-input"><input type="text" name="payment_email" id="payment_email" class="form-control require" value="{{ payment_email }}">
                  {% if warning.payment_email %}
                  <div class="text-danger">{{ warning.payment_email }}</div> 
                  {% endif %}
              </div>
              </div>

              <div class="checkout-data clearfix">
                <div class="checkout-data-txt">訂購地址</div>               
                <div class="checkout-data-input clearfix">
                  <div class="checkout-data-select">
                    <select name="payment_city_id" id="payment_city_id" class="form-control require">
                      <option value="">{{ text_select }}</option>
                      {% for payment_city in payment_cities %}
                        {% if payment_city.city_id == payment_city_id %}
                          <option value="{{ payment_city.city_id }}" selected="selected">{{ payment_city.name }}</option>
                        {% else %}
                          <option value="{{ payment_city.city_id }}">{{ payment_city.name }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                    {% if warning.payment_city_id %}
                    <div class="text-danger">{{ warning.payment_city_id }}</div> 
                    {% endif %}
                  </div>
                  <div class="checkout-data-select last-select">
                    <select name="payment_zone_id" id="payment_zone_id" class="form-control require">
                      <option value="">{{ text_select }}</option>
                        {% for payment_zone in payment_zones %}
                        {% if payment_zone.zone_id == payment_zone_id %}
                      <option value="{{ payment_zone.zone_id }}" selected="selected">{{ payment_zone.name }}</option>
                        {% else %}
                      <option value="{{ payment_zone.zone_id }}">{{ payment_zone.name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    {% if warning.payment_zone_id %}
                    <div class="text-danger">{{ warning.payment_zone_id }}</div> 
                    {% endif %}
                  </div>
                </div><!-- checkout-data-input -->
              </div><!-- checkout-data --> 
              <div class="checkout-data clearfix">
                <div class="checkout-data-txt">&nbsp;</div>
                <div class="checkout-data-input"><input type="hidden" name="payment_postcode" value="{{ payment_postcode }}" /><input type="text" name="payment_address" id="payment_address" class="form-control require" value="{{ payment_address }}">
                {% if warning.payment_address %}
                <div class="text-danger">{{ warning.payment_address }}</div> 
                {% endif %}
                </div>
              </div> 					
    				</div>
    			</div>

    			<div class="col-lg-6">
    				<div class="well">
    					<h1>收件人
                <span class="order-data-checkbox">
                {% if the_same %}
                  <input type="checkbox" name="the_same" id="the_same" value="1" checked="checked">
                {% else %}
                  <input type="checkbox" name="the_same" id="the_same" value="1" >
                {% endif %}
                  <label for="the_same">同訂購人資料</label>
                </span>
              </h1>

              <div class="checkout-data clearfix">
                <div class="checkout-data-txt">姓<span class="le-padding"></span>名</div>
                <div class="checkout-data-input"><input type="text" name="shipping_name" id="shipping_name" class="form-control require shipping-input" value="{{ shipping_name }}">
                {% if warning.shipping_name %}
                <div class="text-danger">{{ warning.shipping_name }}</div> 
                {% endif %}
                </div>
              </div>

              <div class="checkout-data clearfix">
                <div class="checkout-data-txt">行動電話</div>
                <div class="checkout-data-input"><input type="text" name="shipping_mobile" id="shipping_mobile" class="form-control require shipping-input" value="{{ shipping_mobile }}">
                {% if warning.shipping_mobile %}
                <div class="text-danger">{{ warning.shipping_mobile }}</div> 
                {% endif %}  
                </div>
              </div>

              <div class="checkout-data clearfix">
                <div class="checkout-data-txt">電子郵件</div>
                <div class="checkout-data-input"><input type="text" name="shipping_email" id="shipping_email" class="form-control require shipping-input" value="{{ shipping_email }}"> 
                {% if warning.shipping_email %}
                <div class="text-danger">{{ warning.shipping_email }}</div> 
                {% endif %}
                </div>
              </div>

              <div class="checkout-data clearfix">
                <div class="checkout-data-txt">配送地址</div>
                <div class="checkout-data-input">
                  <div class="checkout-data-select">
                    <select name="shipping_city_id" id="shipping_city_id" class="form-control require shipping-input">
                      <option value="">{{ text_select }}</option>
                      {% for shipping_city in shipping_cities %}
                        {% if shipping_city.city_id == shipping_city_id %}
                          <option value="{{ shipping_city.city_id }}" selected="selected">{{ shipping_city.name }}</option>
                        {% else %}
                          <option value="{{ shipping_city.city_id }}">{{ shipping_city.name }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  {% if warning.shipping_city_id %}
                  <div class="text-danger">{{ warning.shipping_city_id }}</div> 
                  {% endif %}
                  </div>
                  <div class="checkout-data-select last-select">
                    <select name="shipping_zone_id" id="shipping_zone_id" class="form-control require shipping-input">
                      <option value="">{{ text_select }}</option>
                      {% for shipping_zone in shipping_zones %}
                        {% if shipping_zone.zone_id == shipping_zone_id %}
                          <option value="{{ shipping_zone.zone_id }}" selected="selected">{{ shipping_zone.name }}</option>
                        {% else %}
                          <option value="{{ shipping_zone.zone_id }}">{{ shipping_zone.name }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  {% if warning.shipping_zone_id %}
                  <div class="text-danger">{{ warning.shipping_zone_id }}</div> 
                  {% endif %}
                  </div>                  
                </div><!-- checkout-data-input -->
              </div>

              <div class="checkout-data clearfix">
                <div class="checkout-data-txt">&nbsp;</div>
                <div class="checkout-data-input"><input type="hidden" name="shipping_postcode" value="{{ shipping_postcode }}" class="shipping-input" /><input type="text" name="shipping_address" id="shipping_address" class="form-control require shipping-input" value="{{ shipping_address }}">
                {% if warning.shipping_address %}
                <div class="text-danger">{{ warning.shipping_address }}</div> 
                {% endif %}
                </div>
              </div>
                


                
             
    				</div>
    			</div> 
    		</div>
        <p><strong>{{ text_comments }}</strong></p>
    <p>
  <textarea name="comment" rows="8" class="form-control2">{{ comment }}</textarea>
</p>
    	</form>
		
		
    {{ shopping_cart }}
   <div id="shopping_total">{{ shopping_total }}</div>
   <div id="payment">
  </div>






{% if text_agree %}
<div class="buttons">
  <div class="pull-right">{{ text_agree }}
    {% if agree %}
    <input type="checkbox" name="agree" value="1" checked="checked" />
    {% else %}
    <input type="checkbox" name="agree" value="1" />
    {% endif %}
    &nbsp;
    <input type="submit" id="submit" value="{{ button_continue }}" id="button-payment-method" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
  </div>
</div>
{% else %}
<div class="buttons">
  <div>
    <input type="submit" id="submit" value="{{ button_continue }}" class="btn btn-primary" />
  </div>
</div>
{% endif %}
  </div><!-- cart-details -->
</div><!-- cart-warp -->
</div>


<!-- -->

<script type="text/javascript">
{% if the_same %}
$('.shipping-input').prop('disabled',true);
{% endif %}

$('#the_same').on('change',function(){
  var $val = $('input[type=\'checkbox\'][name=\'the_same\']:checked').val();
  if($val == 1) {
    $('.shipping-input').prop('disabled',true);
    $('#shipping_mobile').val($('#payment_mobile').val());
    $('#shipping_name').val($('#payment_name').val());
    $('#shipping_email').val($('#payment_email').val());
    $('#shipping_address').val($('#payment_address').val());
    $('#shipping_city_id').val($('#payment_city_id').val());
    $('#shipping_zone_id').html('<option value="' + $('#payment_zone_id').val() + '" selected="selected">' + $('#payment_zone_id option:selected').text() + '</option>');
  } else {
    $('.shipping-input').prop('disabled',false);
    $('#shipping_mobile').val('');
    $('#shipping_name').val('');
    $('#shipping_email').val('');
    $('#shipping_address').val('');
    $('#shipping_city_id').val('');
    $('#shipping_zone_id').html('<option value="" selected="selected">{{ text_select }}</option>');
  }
});


$('#submit').on('click',function() {
	$('#checkout-form').submit();
});
var get_total = function() {
	$.get('{{ get_total }}',function(html) {
		$('#shopping_total').html(html);
	});
}
$('input[name=\'shipping_method\']').on('change',function(){
	get_total();
});



var select_method = function($btn) {
	$('.error').remove();
	var $form_data = $('#checkout-form').serialize();
	$.ajax({
        type: 'POST',
        url: '{{ save_shipping }}',
        data: $form_data,
        dataType: 'json',
        async: false,
        success:function(json){
        	if(json['warning']) {
        		$.each(json['warning'],function(id,msg){
        			var input_object = $('#'+id);
        			input_object.after('<p class="error">'+msg+'</p>');
        		});
        	}

        	if(json['success']) {
        		$.get('{{ get_shipping }}',function(html) {
        			$('#shipping_methods').html(html);
        		});
        	}

        	$.ajax({
        		type: 'POST',
					  url: '{{ save_payment }}',
					  data: $form_data,
					  dataType: 'json',
					  async: false,
					  success:function(json){
						  if(json['warning']) {
						  	$.each(json['warning'],function(id,msg){
						  		var input_object = $('#'+id);
						  		input_object.after('<p class="error">'+msg+'</p>');
						  	});
						  }

						  if(json['success']) {
						  	$.get('{{ get_payment }}',function(html) {
						  		$('#payment_methods').html(html);
						  		$('#methods').fadeIn(function(){
						  			$($btn).remove();
										get_total();
						  		});
						  	});
						  }
						}
					});
        }
    });
}
</script>
<script type="text/javascript"><!--
$('select[name=\'payment_city_id\']').on('change', function() {
  $.ajax({
    url: '{{ get_zone }}&city_id=' + this.value,
    dataType: 'json',
    beforeSend: function() {
      $('select[name=\'payment_city_id\']').prop('disabled', true);
    },
    complete: function() {
      $('select[name=\'payment_city_id\']').prop('disabled', false);
    },
    success: function(json) {
      html = '<option value="">{{ text_select }}</option>';

      if (json && json != '') {
        for (i = 0; i < json.length; i++) {
                html += '<option value="' + json[i]['zone_id'] + '"';

          if (json[i]['zone_id'] == '{{ config_zone_id }}') {
                  html += ' selected="selected"';
          }

          html += '>' + json[i]['name'] + '</option>';
        }
      } else {
        html += '<option value="0" selected="selected">{{ text_none }}</option>';
      }

      $('select[name=\'payment_zone_id\']').html(html);
    },
    error: function(xhr, ajaxOptions, thrownError) {
      alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
});

$('select[name=\'payment_zone_id\']').on('change', function() {
  $.ajax({
    url: '{{ get_postcode }}&zone_id=' + this.value,
    dataType: 'json',
    beforeSend: function() {
      $('select[name=\'payment_zone_id\']').prop('disabled', true);
    },
    complete: function() {
      $('select[name=\'payment_zone_id\']').prop('disabled', false);
    },
    success: function(json) {
      $('input[name=\'payment_postcode\']').val(json);
    },
    error: function(xhr, ajaxOptions, thrownError) {
      alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
});

//--></script>
<script type="text/javascript"><!--
$('select[name=\'shipping_city_id\']').on('change', function() {
  $.ajax({
    url: '{{ get_zone }}&city_id=' + this.value,
    dataType: 'json',
    beforeSend: function() {
      $('select[name=\'shipping_city_id\']').prop('disabled', true);
    },
    complete: function() {
      $('select[name=\'shipping_city_id\']').prop('disabled', false);
    },
    success: function(json) {
      html = '<option value="">{{ text_select }}</option>';

      if (json && json != '') {
        for (i = 0; i < json.length; i++) {
                html += '<option value="' + json[i]['zone_id'] + '"';

          if (json[i]['zone_id'] == '{{ config_zone_id }}') {
                  html += ' selected="selected"';
          }

          html += '>' + json[i]['name'] + '</option>';
        }
      } else {
        html += '<option value="0" selected="selected">{{ text_none }}</option>';
      }

      $('select[name=\'shipping_zone_id\']').html(html);
    },
    error: function(xhr, ajaxOptions, thrownError) {
      alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
});

$('select[name=\'shipping_zone_id\']').on('change', function() {
  $.ajax({
    url: '{{ get_postcode }}&zone_id=' + this.value,
    dataType: 'json',
    beforeSend: function() {
      $('select[name=\'shipping_zone_id\']').prop('disabled', true);
    },
    complete: function() {
      $('select[name=\'shipping_zone_id\']').prop('disabled', false);
    },
    success: function(json) {
      $('input[name=\'shipping_postcode\']').val(json);
    },
    error: function(xhr, ajaxOptions, thrownError) {
      alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
});
//--></script>
{{ footer }}