{{ header }}
<div id="banner">
    <div class="swiper-viewport">
        <div id="swiper" class="swiper-container">
            <div class="swiper-wrapper">
                {% for image in images %}
                    <div class="swiper-slide">
                        <img src="{{ image }}" />
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <h1 class="page_header">- 週邊景點 -<span>ATTRACTIONS</span></h1>
</div>
<section>
  <!-- <div id="google-map" style="height:600px;"></div> -->
  <div class="attractions-img">    
      <img src="images/map.jpg" >
  </div>
 
  <div class="container">
    <div id="attractions" class="row">
      <div class="swiper-viewport">
        <div id="carousel-attr" class="swiper-container">
          {% if attractions %}
            <div class="swiper-wrapper">
          {% for key,info in attractions %}
             <div class="swiper-slide">
              <div class="location">
                <div class="attractions google-map{{ key }}">
                <h2>{{ info.name }}</h2>
                <img src="{{ info.thumb }}" class="img-responsive">
                <p>{{ info.description }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
          </div>
          {% endif %}
        </div>
        <div class="swiper-pager">
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
    </div>
  </div>
  </div>
</section>
<script type="text/javascript"><!--
$('#swiper').swiper({
    effect: 'fade',
    autoplay: 3000,
    autoplayDisableOnInteraction: false
});
--></script>
<script type="text/javascript">
var view_total;

$(document).ready(function(){
  view_total = getTotal();
  showAttr();
});

$(window).resize(function(){
  view_total = getTotal();
  showAttr();
});

var showAttr = function() {
  $('#carousel-attr').swiper({
  mode: 'horizontal',
  slidesPerView: view_total,
  paginationClickable: true,
  nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
  autoplay: 5000,
  loop: true
});
}

var getTotal = function() {
  var width = $(window).width();
  var total = 4;
  if(width > 500 && width < 768) {
    total = 2;
  }
  if(width < 500) {
    total = 1;
  }
  return total;
}
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMroMqXfLI29utPuK3n6if-EujZBcnRW8"></script>
<script type="text/javascript">
function initialize() {
  var styleArray = [{
            featureType: 'all',
            elementType: 'all',
            stylers: [
            { hue: '#a19069' },
            { Saturation: '-75' }
            ]
        }, {
            featureType: 'water',
            elementType: 'geometry.fill',
            stylers: [
            { visibility: 'on' },
            { hue: '#00ffdd' },
            { Saturation: '-50' }
            ]
        }];

  var mapOptions = {
      center: new google.maps.LatLng(23.969654, 120.563585),
      zoom: 16,
      styles: styleArray,
      mapTypeControl : false
      };
  var mapElement = document.getElementById('google-map');
  var map = new google.maps.Map(mapElement, mapOptions);

  {% if attractions %}
    {% for key,info in attractions %}
    var officeLocation{{ key }} = new google.maps.LatLng({{ info.longitude }}, {{ info.latitude }});
    var content{{ key }} = '<img src="{{ info.thumb }}" style="width:100%; margin-bottom:10px;" />{{ info.description }}';
    {% if info.url %}
    content{{ key }} += '<a href="{{ info.url }}" class="btn-secondary" target="_blank">更多介紹</a>';
    {% endif %}
    addMarker(map,officeLocation{{ key }},'{{ info.name }}',content{{ key }},'.google-map{{ key }}');
    {% endfor %}
  {% endif %}

  var officeLocation = new google.maps.LatLng(23.969654, 120.563585);
  addMarker(map,officeLocation,'棕櫚湖岸','<img src="images/logo.png" style="max-width:100%; margin-bottom:10px; background-color:#000;" /><p>天韻MOTEL是由天韻集團，一個輝煌高尚的精品汽車旅館集團，精心打造的同名汽車旅館。<br>天韻集團在中部地區，期望在璀璨的都會、在富含文化底蘊的城鎮、在人流匆匆的城市，為旅人提供一個樂活舒適的休憩環境。</p>','.google-map');
  setTimeout(function() {$(".google-map").trigger('click');},500);
}
google.maps.event.addDomListener(window, 'load', initialize);
var Markers = [];
var infoWindows = [];
var addMarker = function(map,location,title,content,element) {
  var marker = new google.maps.Marker({
        position: location,
        map: map,
        title: title,
        animation: google.maps.Animation.DROP
    });
  var contentString = '<div id="mapContent">'+'<h1 id="firstHeading" class="firstHeading">'+title+'</h1><div class="mapContent">'+content+'</div></div>';
  var infowindow = new google.maps.InfoWindow({
        content: contentString,
        maxWidth:240
    });
  google.maps.event.addListener(marker, 'click', function() {
    infowindow.open(map,marker);
  });
  $(element).on('click',function(){
    for (var i=0;i<infoWindows.length;i++) {
      infoWindows[i].close();
    }
    map.panTo(location);
    infowindow.open(map, marker);
  });
  infoWindows.push(infowindow);
  Markers.push(marker);
}
</script>
{{ footer }}