<h2>{{ text_instruction }}</h2>
<p><b>{{ text_description }}</b></p>
<div class="well well-sm">
  <p>{{ message }}</p>
  <p>{{ text_payment }}</p>
</div>
<script type="text/javascript">
$.get("{{ success }}");
</script>