{{ header }}
  <div class="warp">
    <div class="member">
      <div class="title">
        <img src="images/member-title.png" alt="" class="fadeInUp wow" data-wow-delay=".1s">
        <p class="new-title">
          <img src="images/member-img.png" alt="" class="fadeInUp wow" data-wow-delay=".3s">
        </p>
      </div>
      <div class="new-slide">
        <div class="slide-block">
          <img src="images/slide.png" alt="" class="slide-pc scroll-top fadeInUp wow" data-wow-delay=".5s">
          <img src="images/i-slide-bottom.svg" alt="" class="slide-mobile scroll-top">
          <p><img src="images/about-slide-before.png" alt="" class="fadeInUp wow" data-wow-delay=".7s"></p>         
        </div>
      </div>  
      <!--  -->
      <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
      <div class="member-container fadeInUp wow" data-wow-delay=".9s">
        <div class="member-title-btn">
          <p>MENU</p>
          <i class="fa fa-list-ul" aria-hidden="true"></i>
        </div>
        <div class="member-title">
          {% for k,menu in account_menu %}
            <a href="{{ menu.href }}"{% if k==1 %} class="member-title-active" {% endif %}>{{ menu.name }}</a>
          {% endfor %}

        </div>
        <div class="member-div">
          <div class="member-block">
            <span>您的姓名/Name</span>
            <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_firstname }}" id="input-name" class="member-input edit--input" />
            {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
            {% endif %}
            {% if sex == 1 %}
              <label>
                <input type="radio" name="sex" value="1" id="RadioGroup1_0" checked="checked"/>
                先生
              </label>              
              <label>
                <input type="radio" name="sex" value="0" id="RadioGroup1_1" />
                小姐
              </label>
            {% else %}
              <label>
                <input type="radio" name="sex" value="1" id="RadioGroup1_0" />
                先生
              </label>              
              <label>
                <input type="radio" name="sex" value="0" id="RadioGroup1_1" checked="checked"/>
                小姐
              </label>
            {% endif %}
          </div>          
          <div class="member-block">
            <span>會員帳號/Account</span>
            <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_firstemail }}" id="input-email" style="cursor: no-drop;" class="member-input edit--input" disabled />
            <input type="hidden" name="email" value="{{ email }}"/>
            {% if error_email %}
              <div class="text-danger">{{ error_email }}</div>
            {% endif %}
          </div>

          <div class="member-block datetime">
            <span>出生日期/Birthday</span>
            <input type="date" name="birthday" class="member-input datetime" value="{{ birthday }}" data-date-format="YYYY-MM-DD HH:mm">
              {% if error_birthday %}
              <div class="text-danger">{{ error_birthday }}</div>
              {% endif %}
          </div>
          <div class="member-block">
            <span>聯絡電話/Phone</span>
            <input type="tel" name="mobile" value="{{ mobile }}" placeholder="{{ entry_mobile }}" id="input-mobile" class="member-input edit--input" />
              {% if error_mobile %}
              <div class="text-danger">{{ error_mobile }}</div>
              {% endif %}
          </div>
          <div class="member-block">
            <span>聯絡住址/Address</span>
            <label for="payment_city_id" class="pc-text-right">縣市/地區</label> 
            <select name="payment_city_id" id="payment_city_id" class="member--select">
              <option value="">{{ text_select }}</option>
              {% for payment_city in payment_cities %}
              {% if payment_city.city_id == payment_city_id %}
              <option value="{{ payment_city.city_id }}" selected="selected">{{ payment_city.name }}</option>
              {% else %}
              <option value="{{ payment_city.city_id }}">{{ payment_city.name }}</option>
              {% endif %}
              {% endfor %}
            </select>  
            <label for="payment_zone_id" class="pc-text-right">鄉鎮市區</label>   
            <select name="payment_zone_id" id="payment_zone_id" class="member--select">
              <option value="">{{ text_select }}</option>
              {% for payment_zone in payment_zones %}
              {% if payment_zone.zone_id == payment_zone_id %}
              <option value="{{ payment_zone.zone_id }}" selected="selected">{{ payment_zone.name }}</option>
              {% else %}
              <option value="{{ payment_zone.zone_id }}">{{ payment_zone.name }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
          <input type="hidden" name="payment_postcode" value="{{ payment_postcode }}" />
            <div class="member-block">
              <span>住址</span>
                <input type="text" name="address" value="{{ address }}" placeholder="住址" id="input-address" class="member-input edit--input" />
                {% if error_address %}
                <div class="text-danger">{{ error_address }}</div>
                {% endif %}
            </div>
          <div class="member-block">            
            <input type="submit" value="儲存個人資料" class="member-btn"/>
            {% if edit_success %} <div id="edit_success" style="color:green;">{{ edit_success }}</div> {% endif %}
          </div>
        </div>
      </div>
    </form>
      <!--  -->
      <div class="new-slide-bottom clearfix">
        <p><img src="images/about-slide-before.png" alt="" class="fadeInUp wow" data-wow-delay=".1s"></p>
        <p><img src="images/member-img.png" alt="" class="fadeInUp wow" data-wow-delay=".2s"></p>
        <p>
          <img src="images/i-slide-bottom.png" alt="" class="slide-pc scroll-bottom fadeInUp wow" data-wow-delay=".3s">
          <img src="images/i-slide-bottom.svg" alt="" class="slide-mobile scroll-bottom">
        </p>
      </div>    
    </div><!-- member -->   
  </div><!-- warp -->

<script type="text/javascript"> 
$(function(){ 
  $(".scroll-top").click(function(){    
    $('html, body').animate({scrollTop: $(".member-container").offset().top -130}, 900);
    return false;
  });
   $(".scroll-bottom").click(function(){
    $("html,body").animate({scrollTop:0},900);
    return false;
  });   
   $( ".member-title-btn" ).click(function() {
    $( ".member-title" ).slideToggle( "" );
  });
});
</script>

<script>
  $( ".ipad-menu" ).click(function() {
    $( ".modify-ul" ).slideToggle( "slow" );
  });
</script>
<script type="text/javascript"><!--
$('#swiper').swiper({
    effect: 'fade',
    autoplay: 3000,
    autoplayDisableOnInteraction: false
});
--></script>
<script type="text/javascript"><!--

$('select[name=\'payment_city_id\']').on('change', function() {
  $.ajax({
    url: '{{ get_zone }}&city_id=' + this.value,
    dataType: 'json',
    beforeSend: function() {
      $('select[name=\'payment_city_id\']').prop('disabled', true);
    },
    complete: function() {
      $('select[name=\'payment_city_id\']').prop('disabled', false);
    },
    success: function(json) {
      html = '<option value="">{{ text_select }}</option>';

      if (json && json != '') {
        for (i = 0; i < json.length; i++) {
                html += '<option value="' + json[i]['zone_id'] + '"';

          if (json[i]['zone_id'] == '{{ config_zone_id }}') {
                  html += ' selected="selected"';
          }

          html += '>' + json[i]['name'] + '</option>';
        }
      } else {
        html += '<option value="0" selected="selected">{{ text_none }}</option>';
      }

      $('select[name=\'payment_zone_id\']').html(html);
    },
    error: function(xhr, ajaxOptions, thrownError) {
      alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
});

$('select[name=\'payment_zone_id\']').on('change', function() {
  $.ajax({
    url: '{{ get_postcode }}&zone_id=' + this.value,
    dataType: 'json',
    beforeSend: function() {
      $('select[name=\'payment_zone_id\']').prop('disabled', true);
    },
    complete: function() {
      $('select[name=\'payment_zone_id\']').prop('disabled', false);
    },
    success: function(json) {
      $('input[name=\'payment_postcode\']').val(json);
    },
    error: function(xhr, ajaxOptions, thrownError) {
      alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
});

{% if not payment_country_id %}
$('select[name=\'payment_country_id\']').trigger('change');
{% endif %}
//--></script>
<script type="text/javascript"><!--
$('select[name=\'shipping_country_id\']').on('change', function() {
  $.ajax({
    url: '{{ get_city }}&country_id=' + this.value,
    dataType: 'json',
    beforeSend: function() {
      $('select[name=\'shipping_country_id\']').prop('disabled', true);
    },
    complete: function() {
      $('select[name=\'shipping_country_id\']').prop('disabled', false);
    },
    success: function(json) {
      if (json['postcode_required'] == '1') {
        $('input[name=\'shipping_postcode\']').parent().parent().addClass('required');
      } else {
        $('input[name=\'shipping_postcode\']').parent().parent().removeClass('required');
      }

      html = '<option value="">{{ text_select }}</option>';

      if (json && json != '') {
        for (i = 0; i < json.length; i++) {
                html += '<option value="' + json[i]['city_id'] + '"';

          if (json[i]['city_id'] == '{{ city_id }}') {
                  html += ' selected="selected"';
          }

          html += '>' + json[i]['name'] + '</option>';
        }
      } else {
        html += '<option value="0" selected="selected">{{ text_none }}</option>';
      }

      $('select[name=\'shipping_city_id\']').html(html);
    },
    error: function(xhr, ajaxOptions, thrownError) {
      alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
});

$('select[name=\'shipping_city_id\']').on('change', function() {
  $.ajax({
    url: '{{ get_zone }}&city_id=' + this.value,
    dataType: 'json',
    beforeSend: function() {
      $('select[name=\'shipping_city_id\']').prop('disabled', true);
    },
    complete: function() {
      $('select[name=\'shipping_city_id\']').prop('disabled', false);
    },
    success: function(json) {
      html = '<option value="">{{ text_select }}</option>';

      if (json && json != '') {
        for (i = 0; i < json.length; i++) {
                html += '<option value="' + json[i]['zone_id'] + '"';

          if (json[i]['zone_id'] == '{{ config_zone_id }}') {
                  html += ' selected="selected"';
          }

          html += '>' + json[i]['name'] + '</option>';
        }
      } else {
        html += '<option value="0" selected="selected">{{ text_none }}</option>';
      }

      $('select[name=\'shipping_zone_id\']').html(html);
    },
    error: function(xhr, ajaxOptions, thrownError) {
      alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
});

$('select[name=\'shipping_zone_id\']').on('change', function() {
  $.ajax({
    url: '{{ get_postcode }}&zone_id=' + this.value,
    dataType: 'json',
    beforeSend: function() {
      $('select[name=\'shipping_zone_id\']').prop('disabled', true);
    },
    complete: function() {
      $('select[name=\'shipping_zone_id\']').prop('disabled', false);
    },
    success: function(json) {
      $('input[name=\'shipping_postcode\']').val(json);
    },
    error: function(xhr, ajaxOptions, thrownError) {
      alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
});
{% if not shipping_country_id %}
$('select[name=\'shipping_country_id\']').trigger('change');
{% endif %}
//--></script>
{{ footer }}