<div class="reload-div">
	{% for key,total in totals %}
	<div class="clearing text-right">
		{% if key == 2 %}
		{% if free %}
			<p><span class="clearing-span">{{ free }}{{ difference }}</span></p>
		{% endif %}
		<p class="clearing-last">{{ total.title }}：<span class="clearing-span red">{{ total.text }}</span></p>
		{% else %}
		<p>{{ total.title }}：<span class="clearing-span">{{ total.text }}</span></p>
		{% endif %}

	</div>

	{% endfor %}
</div>



