<form class="form-horizontal" action="{{ action }}" method="POST" id="ecpay_redirect_form">
	<fieldset>
		<input type="hidden" name="order_id" value="{{ order_id }}">
		<input type="hidden" name="module_id" value="{{ module_id }}">
		<input type="hidden" name="payment_ecpay_choose_payment" value="{{ payment_ecpay_choose_payment }}">
	</fieldset>
	<div id="time-message">將於<span id="times"></span>秒後，自動轉往支付平台進行付款。</div>
	<input type="submit" name="submin" value="前往第三方進行付款" class="btn btn-primary">
</form>
<script type="text/javascript">
$.get("{{ success }}");
var second = 15;
var return_to_ecpay = function() {
    second -= 1;
    document.getElementById('times').innerHTML= second;
    if(second == 0) {
        document.getElementById('ecpay_redirect_form').submit();
    }
    setTimeout("return_to_ecpay()",1000);
}
return_to_ecpay();
</script>