  {% if payment_method.sub_methods %}
    {% for method,text in payment_method.sub_methods %}
      <div class="col-md-12 pick-up clearfix">
        <div class="col-sm-2 col-xs-12 text-overflow mobile-none">{{ text }}</div>
      <div class="col-sm-1 col-xs-12 bg-light-grey pick-up-div2 mobile-bg-none">
        {% if method == code %}
          <span class="payment--radio">
            <input type="radio" name="payment_method" value="{{ method }}" checked="checked"/>
          </span>
        {% else %}
          <span class="payment--radio"><!-- method-radio-span -->
            <input type="radio" name="payment_method" value="{{ method }}"/>
          </span>
        {% endif %}
      </div>
      <div class="col-sm-9 col-xs-12 pick-up-icon text-overflow">
      {{ payment_method.method }} / {{ payment_method.terms }}
      <img src="images/icon3.jpg" alt="">
    </div>
      </div>
    {% endfor %}
  {% else %}
    <div class="col-md-12 pick-up clearfix">
      <div class="col-sm-2 col-xs-12 text-overflow mobile-none">{{ payment_method.method }}</div>
    <div class="col-sm-1 col-xs-12 bg-light-grey pick-up-div2 mobile-bg-none">
        {% if payment_method.code == code %}
          <span class="payment--radio">
            <input type="radio" name="payment_method" value="{{ payment_method.code }}" checked="checked"/>
          </span>
        {% else %}
          <span class="payment--radio"><!-- method-radio-span -->
            <input type="radio" name="payment_method" value="{{ payment_method.code }}"/>
          </span>
        {% endif %}
        <span class="pick-up-m-p">{{ payment_method.method }}</span>
      </div>
      <div class="col-sm-9 col-xs-12 pick-up-icon text-overflow">
        {{ payment_method.title }} / {{ payment_method.terms }} 
        <img src="images/icon3.jpg" alt="">
      </div>
      </div>
  {% endif %}