<!-- ============================
       Footer
  ================================= -->

<div class="footer">
  <div class="footer-container clearfix">
    <div class="footer-logo fadeInLeft wow" data-wow-delay=".3s"><img src="images/footer-logo.svg" alt=""></div>
    <div class="footer-menu clearfix">
      <div class="footer-menu-left">
        <h1 class="footer-icon fadeInDown wow" data-wow-delay=".1s">網站導覽</h1>
        <ul>
          <li class="fadeInUp wow" data-wow-delay=".1s">
            <a href="{{ about }}">咖啡故事多</a>
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
          </li>
          <li  class="fadeInUp wow" data-wow-delay=".15s">
            <a href="{{ product_category }}">咖啡商品多</a>
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
          </li>
          <li  class="fadeInUp wow" data-wow-delay=".2s">
            <a href="{{ news }}">咖啡好事近</a>
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
            </li>
          <li class="fadeInUp wow" data-wow-delay=".25s">
            <a href="{{ article }}">咖啡學問多</a>
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
          </li>
          <li class="fadeInUp wow" data-wow-delay=".3s">
            <a href="{{ problem }}">咖啡好問題</a>
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
          </li>
          <li class="fadeInUp wow" data-wow-delay=".35s">
            <a href="{{ contact }}">咖啡好團購</a>
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
          </li>
        </ul>
      </div>
      <div class="footer-menu-right">
        <h1 class="footer-icon fadeInDown wow" data-wow-delay=".1s">聯絡資訊</h1>
        <ul>
          <li class="fadeInUp wow" data-wow-delay=".1s">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <a href="tel:0422415859" target="_block">04-2241 5859</a>
          </li>
          <li class="fadeInUp wow" data-wow-delay=".15s">
            <i class="fa fa-map-marker" aria-hidden="true"></i>           
            <p class="fadeInUp wow" data-wow-delay=".2s">台中市北屯區崇德路</p>
            <p class="fadeInUp wow" data-wow-delay=".25s">二段130號5F-5</p>          
          </li>   
          <li class="fadeInUp wow" data-wow-delay=".35s">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <p>週一至週五客服時間</p>
            <p>9:00 A.M.~18:00 P.M</p>            
          </li>
          <li class="fadeInUp wow" data-wow-delay=".4s">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <a href="mailto:Ming@mids.com.tw" target="_block">Ming@mids.com.tw</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <p class="copyrigt fadeInUp wow" data-wow-delay=".4s">COPYRIGT©FUNDING ALL RIGHTS RERSERVED</p>
</div><!-- footer -->
<!-- fb-messenger -->
<div class="fb-messenger">
  <div class="fb-messenger-div">
    <img src="images/messenger.png" alt="">
    <div class="messenger-time fadeInUp wow" data-wow-delay=".1s">
      <p>09:00 <span>am</span></p>
      <p>18:00 <span>am</span></p>
    </div>
  </div>
</div>
{{ doc_footer }}