<div class="home-siderbar-wrap hidden-xs hidden-sm">
	<div id="logo" style="margin-left:30px;"><a href=""><img src="images/logo.png" class="img-responsive" alt=""></a></div>
	<ul class="nav navbar-nav navbar-right" style="margin-left:30px;">
		<li class="social"><a class="btn-circle btn-circle-sm btn-icon" href="https://www.facebook.com/TianYunMotel/" target="_blank"><i class="fa fa-facebook"></i></a></li>
		<li class="language active"><a href="">TW</a></li>
		<li class="language"><a href="">EN</a></li>
		<li class="language"><a href="">JP</a></li>
	</ul>
		<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ home }}" class="smooth-scroll"><span>首頁</span><span class="hoverline"></span></a></li>
					<li><a href="{{ news }}" class="smooth-scroll"><span>最新消息</span><span class="hoverline"></span></a></li>
					<li><a href="#section-about" class="smooth-scroll"><span>關於天韻</span><span class="hoverline"></span></a></li>
					<li><a href="{{ rooms }}" class="smooth-scroll"><span>客房介紹</span><span class="hoverline"></span></a></li>
					<li><a href="{{ order }}" class="smooth-scroll"><span>線上訂房</span><span class="hoverline"></span></a></li>
					<li><a href="{{ contact }}" class="smooth-scroll"><span>聯繫我們</span><span class="hoverline"></span></a></li>
					<li><a href="{{ location }}" class="smooth-scroll"><span>交通資訊</span><span class="hoverline"></span></a></li>
					<li><a href="{{ attractions }}" class="smooth-scroll"><span>附近景點</span><span class="hoverline"></span></a></li>
				</ul>
	
</div>