{{ header }}
    <div class="warp">
        <div class="article">
            <div class="title">
                <img src="images/article-title.png" alt="" class="fadeInUp wow" data-wow-delay=".1s">
                <p class="new-title fadeInUp wow"><img src="images/article-img.png" alt="" data-wow-delay=".3s"></p>
            </div>
            <div class="new-slide">
                <div class="slide-block">
                    <img src="images/slide.png" alt="" class="scroll-top slide-pc fadeInUp wow" data-wow-delay=".4s">
                    <img src="images/i-slide.svg" alt="" class="slide-mobile scroll-top">
                    <p><img src="images/about-slide-before.png" alt="" class="fadeInUp wow" data-wow-delay=".6s"></p>                   
                </div>
            </div>
            <!--  -->
            <div class="article-container">
                {% if articles %}
                    {% for article in articles %}
                        <div class="article-div clearfix">
                            <div class="article-img fadeInLeft wow" data-wow-delay=".8s">
                                <img src="{{ article.thumb }}" alt="">
                            </div>
                            <div class="article-txt fadeInRight wow" data-wow-delay=".8s">
                                <h1>
                                    <img src="images/article-top.png" alt="" class="article-icon-top">
                                    {{ article.name }}
                                    <img src="images/article-bottom.png" alt="" class="article-icon-bottom">
                                </h1>
                                <div>
                                    <!-- <span>作者 Coffee 。 05-23-2018</span>                          -->
                                    {{ article.description }}<a href="{{ article.href }}">繼續閱讀</a>
                                </div>
                            </div>
                        </div><!-- article-div -->
                    {% endfor %}
                {% endif %}
            </div>
            <!--  -->
            <div class="slide-bottom clearfix">
                <p><img src="images/about-slide-before.png" alt="" class="fadeInUp wow" data-wow-delay=".1s"></p>
                <p><img src="images/article-img.png" alt="" class="fadeInUp wow" data-wow-delay=".3s"></p>
                <p>
                    <img src="images/i-slide-bottom.png" alt="" class="slide-pc scroll-bottom fadeInUp wow" data-wow-delay=".5s">
                    <img src="images/i-slide.svg" alt="" class="slide-mobile scroll-bottom">
                </p>
            </div>          
        </div><!-- article -->
    </div><!-- warp -->

<script type="text/javascript"> 
$(function(){   
    $(".scroll-top").click(function(){      
        $('html, body').animate({scrollTop: $(".article-container").offset().top -130}, 900);
        return false;
    });
     $(".scroll-bottom").click(function(){
        $("html,body").animate({scrollTop:0},900);
        return false;
    });     
});
</script>
{{ footer }}