<!-- 商品附加選項 -->
                            {% for additional_option in additional_options %}
                                {% if additional_option.type == 'select' %}
                                    <li class="product-category-right-li">{{ additional_option.name }}
                                     <span>/</span>
                                     <select name="additional_option[{{ additional_option.product_additional_option_id }}]" id="input-additional-option{{ additional_option.product_additional_option_id }}" class="product-category-select">
                                        {% for product_additional_option_value in additional_option.product_additional_option_value %}
                                            <option value="{{ product_additional_option_value.product_additional_option_value_id }}">{{ product_additional_option_value.name }}</option>
                                        {% endfor%}
                                    </select>
                                    </li>
                                {% endif %}
                                {% if additional_option.type == 'checkbox' %}
                                    <li class="product-category-right-li">{{ additional_option.name }}                    
                                        <label class="product-checkbox">
                                            {% for product_additional_option_value in additional_option.product_additional_option_value %}
                                                <input name="additional_option[{{ additional_option.product_additional_option_id }}][]" type="checkbox" value="{{ product_additional_option_value.product_additional_option_value_id }}" >
                                            {% endfor %}
                                        </label>
                                    </li>
                                {% endif %}
                            {% endfor %}