{{ header }}
  <div class="warp">
    <div class="product">
      <div class="title">
        <p><img src="images/product-title.png" alt="" class="fadeInUp wow" data-wow-delay=".1s"></p>
        <p class="new-title"><img src="images/product-img.png" alt="" class="fadeInUp wow" data-wow-delay=".3s"></p>        
      </div>
      <div class="new-slide">
        <div class="slide-block">
          <img src="images/slide.png" alt="" class="slide-pc scroll-top fadeInUp wow" data-wow-delay=".5s">
          <img src="images/i-slide.svg" alt="" class="slide-mobile scroll-top">
          <p><img src="images/about-slide-before.png" alt="" class="fadeInUp wow" data-wow-delay=".7s"></p>         
        </div>
      </div>
      <!--  -->
      <div class="product-container">
        <div class="product-title">
          {{ category }}
        </div>
        <div class="product-content clearfix">
          {% if productLists %}
            {% for product in productLists %}
            <div class="product-item fadeInUp wow" data-wow-delay=".1s">
              <a href="{{ product.href }}">
                <p><img src="{{ product.image }}" alt=""></p>
              </a>
              <p class="product-txt">{{ product.name }}</p>
              <div class="details">
                <span class="details-price">
                  {% if product.is_original_price %}
                  <s>{{ product.original_price }}</s>
                  <span class="red">{{ product.price }}</span>
                  {% else %}
                  <span class="red">{{ product.price }}</span>
                  {% endif %}
                  <span class="details-span">/半磅</span>
                </span>
              </div>
            </div> 
            {% endfor %} 
          {% else %}
          <div class="product-item fadeInUp wow" data-wow-delay=".1s">
             <div>此分類下無商品</div>
          </div>
          {% endif %}        
        </div><!-- product-content -->
      </div>
      <div class="slide-bottom">
        {{ pagination }}
        {{ results }}
      </div>
      <!--  -->
      <div class="slide-bottom">
        <p>
          <img src="images/about-slide-before.png" alt="" class="fadeInUp wow" data-wow-delay=".1s">
        </p>
        <p>
          <img src="images/product-img.png" alt="" class="fadeInUp wow" data-wow-delay=".3s">
        </p>
        <img src="images/i-slide-bottom.png" alt="" class="slide-pc scroll-bottom fadeInUp wow" data-wow-delay=".5s">
        <img src="images/i-slide-bottom.svg" alt="" class="slide-mobile scroll-bottom">
      </div>  
    </div> 
  </div><!-- warp -->
<script type="text/javascript"> 
$(function(){ 
  $(".scroll-top").click(function(){    
    $('html, body').animate({scrollTop: $(".product-container").offset().top -130}, 900);
    return false;
  });
   $(".scroll-bottom").click(function(){
    $("html,body").animate({scrollTop:0},900);
    return false;
  });   
});
</script>



{{ footer }}