<!-- 商品選項 -->
                            {% for option in options %}
                                {% if option.type == 'select' %}
                                    <li class="product-category-right-li product-category-right-li-2">{{ option.name }}
                                     <span>/</span>
                                     <select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="product-category-select">
                                        {% for product_option_value in option.product_option_value %}
                                            <option value="{{ product_option_value.product_option_value_id }}">{{ product_option_value.name }}</option>
                                        {% endfor%}
                                    </select>
                                    </li>
                                {% endif %}
                            {% endfor %}