{{ header }}
    <div class="warp">
        <div class="product">
            <div class="title">
                <p class="fadeInUp wow" data-wow-delay=".1s"><img src="images/product-title.png" alt=""></p>
                <p class="new-title fadeInUp wow" data-wow-delay=".3s"><img src="images/product-img.png" alt=""></p>                
            </div>
            <div class="new-slide">
                <div class="slide-block">
                    <img src="images/slide.png" alt="" class="slide-pc scroll-top fadeInUp wow" data-wow-delay=".5s">
                    <img src="images/i-slide.svg" alt="" class="slide-mobile scroll-top">
                    <p><img src="images/about-slide-before.png" alt="" class="fadeInUp wow" data-wow-delay=".7s"></p>                   
                </div>
            </div>
            <!--  -->
            <div class="product-category-container">
                <div class="product-title-btn">
                    <b>Menu</b>             
                </div>
                <div class="product-category-title">
                    <div class="product-list">
                        <div class="product-list-box">
                            <a href="{{ product_category }}" class="product-category">咖啡商品多</a>  
                        </div> 
                        <i class="fa fa-angle-right" aria-hidden="true"></i>                        
                    </div>
                    {% for breadcrumb in breadcrumbs %}
                    <div class="product-list">
                        <div class="product-list-box">
                            <a href="{{ breadcrumb.href }}" class="product-category">{{ breadcrumb.name }}</a>  
                        </div> 
                        <i class="fa fa-angle-right" aria-hidden="true"></i>                        
                    </div>
                    {% endfor %}
                    <div class="product-list">
                        <div class="product-list-box">
                            <a class="product-category-active">{{ name }}</a>  
                        </div>                     
                    </div>
                </div><!-- product-category-title -->

                <div class="product-category-content clearfix">                 
                    <div class="product-category-left fadeInLeft wow" data-wow-delay=".2s">

                        <div class="slider-wrapper">    
                            <div class="baguetteBoxOne gallery">
                                <div class="slider-for">
                                    <a href="{{ first_popup_image }}" data-src="{{ first_image }}" class="slider-for__item" data-caption="{{ name }}">
                                        <img src="{{ first_image }}">
                                        <span class="product-icon">
                                            <img src="images/baguetteBox-icon.png" alt="">
                                        </span>
                                    </a>
                                    {% for image in images %}
                                    <a href="{{ image.popup }}" data-src="images/product-copygory-img-b.png" class="slider-for__item" data-caption="金典藍山咖啡">
                                        <img src="{{ image.related }}">
                                        <span class="product-icon">
                                            <img src="images/baguetteBox-icon.png" alt="">
                                        </span>
                                    </a>
                                    {% endfor %}      
                                </div>
                                 <div class="slider-nav">
                                    <a href="javascript:;" data-src="{{ first_thumb_image }}" class="slider-for__item">
                                        <img src="{{ first_thumb_image }}">
                                    </a>
                                    {% for image in images %}
                                     <a href="javascript:;" data-src="{{ image.thumb }}" class="slider-for__item">
                                        <img src="{{ image.thumb }}">
                                    </a>
                                    {% endfor %}
                                 </div>
                            </div>
                        </div>      
                    </div><!-- 圖片數量<=4箭頭就不會出現 -->
                    <form action="{{ action }}" method="post" enctype="multipart/form-data" id="product-form">
                    <div class="product-category-right fadeInRight wow" data-wow-delay=".2s">
                        <h1>{{ name }}</h1>
                        <ul>

                            <!-- 商品規格 -->
                            {% for specification_group in specification_groups %}
                                <li><u>{{ specification_group.name }} </u><span>:</span> </li>
                                {% for _specification in specification_group.spec %}
                                    <li>{{ _specification.name }} <span>/</span>{{ _specification.text }} </li>
                                {% endfor %}
                            {% endfor %}

                            <li class="product-category-right-li product-category-right-li-2"><u>商品描述</u><span>:</span> </li>
                            <li>{{ description }}</li>

                            {{ options }}

                            {{ additional_options }}

                            
                            <li class="product-category-right-li">選擇數量 <span>/</span>
                                <a class="btn bg-light-grey" id="diminish" onclick="minus_quantity();">-</a>
                                <input type="text" name="quantity" class="quantity-input text-center" value="1">
                                <a class="btn bg-light-grey" id="plus" onclick="add_quantity();">+</a> 
                            </li>
                            {% if is_original_price %}
                                <li class="product-category-right-li">商品價格 <span>/</span>
                                    <s>{{ original_price }}</s><span class="red">{{ price }}</span>
                                </li>
                            {% else %}
                                <li class="product-category-right-li">商品價格 <span>/</span>
                                    <span>{{ price }}</span>
                                </li>
                            {% endif %}
                        </ul>
                        <input type="hidden" name="product_id" value="{{ product_id }}">
                        <button type="submit" class="product-category-btn">加入購物車</button>
                    </div>
                    </form>
                </div>
                <div class="product-category-txt fadeInUp wow" data-wow-delay=".2s">
                    {{ notice }}
                </div>
            </div>
            <!--  -->
            <div class="slide-bottom">
                <p><img src="images/about-slide-before.png" alt="" class="fadeInUp wow" data-wow-delay=".1s"></p>
                <p><img src="images/product-img.png" alt="" class="fadeInUp wow" data-wow-delay=".3s"></p>
                <img src="images/i-slide-bottom.png" alt="" class="slide-pc scroll-bottom fadeInUp wow" data-wow-delay=".5s">
                <img src="images/i-slide-bottom.svg" alt="" class="slide-mobile scroll-bottom">
            </div>  
        </div>
   
    </div><!-- warp -->
<script type="text/javascript">
$(function(){   
    $(".scroll-top").click(function(){
        $('html, body').animate({scrollTop: $(".product-category-container").offset().top
            -130}, 900);
        return false;
    });
     $(".scroll-bottom").click(function(){
        $("html,body").animate({scrollTop:0},900);
        return false;
    }); 
    $( ".product-title-btn" ).click(function() {
        $( ".product-category-title" ).slideToggle( "" );
    });
});
    baguetteBox.run('.baguetteBoxOne', {
        animation: 'fadeIn',
    });
    $('.slider-for').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      fade: true,
      asNavFor: '.slider-nav'
    });
    $('.slider-nav').slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      asNavFor: '.slider-for',
      focusOnSelect: true
    });
</script>

<script type="text/javascript">
var add_quantity = function() {
    var $current = $('input[name=\'quantity\']').val();
    $('input[name=\'quantity\']').val(parseInt($current)+1);
}

var minus_quantity = function() {
    var $current = $('input[name=\'quantity\']').val();
    var $total = parseInt($current)-1;
    if($total < 1) {
        $total = 1;
    }
    $('input[name=\'quantity\']').val($total);
}
$("#product-form").submit(function(e) {
    $.ajax({
           type: "POST",
           url: '{{ action }}',
           data: $("#product-form").serialize(),
           success: function(json) {
               if(json['status'] == 'success'){
                  $('.items_total').html(json['total']);
                  $('.cart-list').load('{{ url_widget_cart }} .cart-list-box');
               }
              alert(json['msg']);
           }
         });
    e.preventDefault();
});
</script>
{{ footer }}