{{ header }}
  <div class="warp">
    <div class="member">
      <div class="title">
        <img src="images/member-title.png" alt="" class="fadeInUp wow" data-wow-delay=".1s">
        <p class="new-title">
          <img src="images/member-img.png" alt="" class="fadeInUp wow" data-wow-delay=".3s">
        </p>
      </div>
      <div class="new-slide">
        <div class="slide-block">
          <img src="images/slide.png" alt="" class="slide-pc scroll-top fadeInUp wow" data-wow-delay=".5s">
          <img src="images/i-slide.svg" alt="" class="slide-mobile scroll-top">
          <p><img src="images/about-slide-before.png" alt="" class="fadeInUp wow" data-wow-delay=".7s"></p>         
        </div>
      </div>  
      <!--  -->
      <div class="member-container fadeInUp" data-wow-delay=".9s">
        <div class="member-title-btn">
          <p>MENU</p>
          <i class="fa fa-list-ul" aria-hidden="true"></i>
        </div>
        <div class="member-title">
          {% for k,menu in account_menu %}
            <a href="{{ menu.href }}"{% if k==3 %} class="member-title-active" {% endif %}>{{ menu.name }}</a>
          {% endfor %}
        </div>
        {% if orders %}
        <div class="order-div">
          <div class="order-table clearfix">
            <div class="order-table-tr-title clearfix">
              <div class="order-table-td">{{ column_order_id }}</div>
              <div class="order-table-td">{{ column_customer }}</div>
              <div class="order-table-td">{{ column_product }}</div>
              <div class="order-table-td">{{ column_status }}</div>
              <div class="order-table-td">{{ column_total }}</div>
              <div class="order-table-td">{{ column_date_added }}</div>
              <div class="order-table-td">{{ column_view }}</div>
            </div>
            {% for order in orders %}
            <div class="order-table-tr clearfix">
              <div class="order-table-td-mobile">訂單編號</div>
              <div class="order-table-td">#{{ order.order_id }}</div>
              <div class="order-table-td-mobile">會員</div>
              <div class="order-table-td">{{ order.name }}</div>
              <div class="order-table-td-mobile">商品數量</div>
              <div class="order-table-td">{{ order.products }}</div>
              <div class="order-table-td-mobile">狀態</div>
              <div class="order-table-td">{{ order.status }}</div>
              <div class="order-table-td-mobile">合計</div>
              <div class="order-table-td">{{ order.total }}</div>
              <div class="order-table-td-mobile">訂單日期</div>
              <div class="order-table-td">{{ order.date_added }}</div>
              <div class="order-table-td-mobile">檢視訂單</div>
              <div class="order-table-td">
                <span class="order-mobile-data"><a href="{{ order.view }}" class="fa fa-eye inquire-span inquire-content-right" aria-hidden="true"></a></span>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      {% else %}
      <div class="order-div">
        <div class="order-table clearfix">
          <div class="order-table-tr clearfix">
            {{ text_empty }}
          </div>
        </div>
      </div>
      {% endif %}
      </div>
      <!--  -->
      <div class="new-slide-bottom clearfix">
        <p><img src="images/about-slide-before.png" alt="" class="fadeInUp wow" data-wow-delay=".1s"></p>
        <p><img src="images/member-img.png" alt="" class="fadeInUp wow" data-wow-delay=".2s"></p>
        <p>
          <img src="images/i-slide-bottom.png" alt="" class=" slide-pc scroll-bottom fadeInUp wow" data-wow-delay=".3s">
          <img src="images/i-slide-bottom.svg" alt="" class="slide-mobile scroll-bottom">
        </p>
      </div>    
    </div><!-- member -->   
  </div><!-- warp -->
<script type="text/javascript"> 
$(function(){ 
  $(".scroll-top").click(function(){    
    $('html, body').animate({scrollTop: $(".member-container").offset().top-130}, 900);
    return false;
  });
   $(".scroll-bottom").click(function(){
    $("html,body").animate({scrollTop:0},900);
    return false;
  });   
   $( ".member-title-btn" ).click(function() {
    $( ".member-title" ).slideToggle( "" );
  });
});
</script>

{{ footer }}