<p class="cart-btn">
  <img src="images/cart-icon.png" alt="" class="cart-btn-pc">
  <span class="i-cart-txt">{{ text_items }}</span>
  <div class="cart-list">
    <div class="cart-list-box">
      <div class="cart-list-have">
        <h1>{{ heading_title }}</h1>
        {% if products is not empty %}
          {% for product in products %}
            <div class="cart-list-have-columns clearfix">
              <ul class="clearfix">
                <li><img src="{{ product.image }}" alt=""></li>
                <li>{{ product.name }}</li>
                <li>X {{ product.quantity }}</li>
                <li>{{ product.price }}</li>
                <li><span class="cart-list-btn" onclick="cart.remove('{{ product.cart_id }}');" >X</span></li>
              </ul>
            </div>
          {% endfor %}
          <p class="cart-list-p">{{ text_total }}</p>
          <a href="{{ url_checkout }}" class="cart-list-a"><i class="fa fa-credit-card" aria-hidden="true"></i>{{ button_checkout }}</a>
        {% else %}
          <div class="cart-list-none">
            <h1>{{ text_empty }}</h1>
            <p class="cart-list-p">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </p>
            <a href="{{ url_products }}" class="cart-list-a">{{ button_buy }}</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</p>