
            <div class="cart-details-title">
                <p>購物車 / <span> shopping cart</span></p>
            </div>
            <div class="cart-content">
                {% if cart %}
                <div class="cart-txt clearfix">
                    <div class="cart-txt-01"><i class="fa fa-shopping-cart" aria-hidden="true"></i> {{ text_items }}</div>
                    <div class="cart-txt-02">&nbsp;</div>
                    <div class="cart-txt-03">Item price</div>
                    <div class="cart-txt-04">Quantity</div> 
                    <div class="cart-txt-05">price</div>
                    <div class="cart-txt-06">delete</div>               
                </div>
                {% for product in cart %}
                <div class="cart-product clearfix">
                    <span class="cart-txt-01-mobile"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Your Item</span>
                    <div class="cart-product-01">                       
                        <img src="{{ product.image }}" alt="">
                    </div>                                      
                    <div class="cart-product-02">
                        <p>商品名稱 : {{ product.name }}</p>
                        <p>商品編號 : {{ product.ID }}</p>                     
                    </div>
                    <span class="cart-txt-03-mobile">Item price</span>  
                    <div class="cart-product-03">
                        <p>{{ product.price }}</p>
                        <!-- <p style="color:red">40%off</p> -->
                    </div>  
                    <span class="cart-txt-04-mobile">Quantity</span>    
                    <div class="cart-product-04">
                        <p>
                            <!-- <input type="text" class="cart-product-input" value="{{ product.quantity }}"> -->
                            <select name="" class="col-md-6" onchange="cart.update({{ product.product_id }},$(this));">
                              {% for nums in num %}
                                {% if product.quantity == nums %}
                                  <option value ="{{ nums }}" selected>{{ nums }}</option>
                                {% else %}
                                  <option value ="{{ nums }}">{{ nums }}</option>
                                {% endif %}
                              {% endfor %}
                            </select>
                        </p>
                    </div>  
                    <span class="cart-txt-05-mobile">price</span>   
                    <div class="cart-product-05">
                        <p>{{ product.count }}</p>                                          
                    </div>  
                    <span class="cart-txt-06-mobile">delete</span>  
                    <div class="cart-product-06">
                        <p><i class="fa fa-trash-o" aria-hidden="true" style="padding-right: 5px"></i><a onclick="cart.remove({{ product.cart_id }})">刪除</a></p>                                            
                    </div>                      
                </div>
                {% endfor %}
                
                
                {% else %}
                  <div class="cart-txt clearfix">
                    <div class="cart-txt-01"><i class="fa fa-shopping-cart" aria-hidden="true"></i> {{ text_items }}</div>
                    <div class="cart-txt-02">&nbsp;</div>
                    <div class="cart-txt-03">Item price</div>
                    <div class="cart-txt-04">Quantity</div> 
                    <div class="cart-txt-05">price</div>
                    <div class="cart-txt-06">delete</div>               
                </div>
                  <div class="cart-product clearfix">
                    <p class="text-center">購物車內無商品</p>
                    <a href="{{ product_category }}"><p class="text-center"><i class="fa fa-reply" aria-hidden="true"></i>回商城逛逛</p></a>
                  </div>
                {% endif %}
            </div>          
