        <div class="pick-table-title clearfix">
          <div class="col-sm-1"></div>
          <div class="col-sm-6">商品名稱</div>
          <div class="col-sm-2 text-center">單價</div>
          <div class="col-sm-2 text-center">數量</div>
          <div class="col-sm-1 text-center">小計</div>          
        </div>
        {% for product in cart %}
        <div class="pick-table-content clearfix">       
          <div class="col-md-1 col-xs-6 pick-table-img">
            <img src="{{ product.image }}" alt="">
          </div>
          <div class="col-md-6 col-xs-7 pick-txt">
            <h3>{{ product.name }}</h3>
            {% if product.options %}
              {% for option in product.options %}
                <span>{{ option.value }}</span>
              {% endfor %}
            {% endif %}
            {% if product.additional_options %}
              {% for additional_option in product.additional_options %}
                <span>{{ additional_option.name }}</span>
              {% endfor %}
            {% endif %}
          </div>
          <div class="md-block col-xs-6 clearfix">單價</div>
          <div class="col-md-2 col-xs-6 md-be">{{ product.price }}</div>
          <div class="md-block col-xs-6 clearfix">數量</div>
          <div class="col-md-2 col-xs-6 md-be">           
            <span>{{ product.quantity }}</span>           
          </div>
          <div class="md-block col-xs-6 clearfix">小計</div>
          <div class="col-md-1 col-xs-6 md-be"><span class="red">{{ product.total }}</span></div>      
        </div>
        {% endfor %}
