{{ header }}
<div class="warp">  
  <div class="my-cart">
    <div class="title">
      <img src="images/contact-title.png" alt="" class="fadeInUp wow" data-wow-delay=".1s">
      <p class="new-title"><img src="images/contact-img-one.png" alt="" class="fadeInUp wow" data-wow-delay=".3s"></p>
    </div>
    <div class="new-slide">
      <div class="slide-block">
      <img src="images/slide.png" alt="" class="scroll-top slide-pc fadeInUp wow" data-wow-delay=".5s">
      <img src="images/i-slide.svg" alt="" class="slide-mobile scroll-top">
      <p><img src="images/about-slide-before.png" alt="" class="fadeInUp wow" data-wow-delay=".7s"></p>         
      </div>
    </div>
  <div class="container">
    <div class="cart fadeInUp wow" data-wow-delay=".9s">
      <div class="cart-title clearfix">     
            <div class="cart-title-div-chen">
              <span>&nbsp</span>              
              <p >選擇付款方式</p>
              <i><img src="images/member-icon.svg" alt=""></i>
            </div>
            <div class="cart-title-div-chen">
              <span>&nbsp</span>              
              <p>填寫送貨資料</p>
              <i><img src="images/member-icon.svg" alt=""></i>
            </div>
            <div class="cart-title-div-chen">
              <span>&nbsp</span>                
              <p>完成訂單</p>
              <i><img src="images/member-icon.svg" alt=""></i>
            </div>        
          <div class="row"></div>
        </div>
      <div class="confirm-content clearfix fadeInUp wow" data-wow-delay=".2s">
        <div class="col-md-4 confirm-img text-center"><img src="images/cart-check.png" alt=""></div>
        <div class="col-md-8 confirm-txt">
          <h1>您的訂單已在{{ date_added }}成功提交囉</h1>
          <p>您的訂單編號為 : <span class="red" >{{ order_number }}</span></p>
          <p>訂單狀況 : {{ order_status }}</p>
          <p>支付方式 : {{ order_payment_method }}</p> 
          {{ payment_method }}
        </div>
      </div>
      <div class="title-div main-color">
        <i class="fa fa-street-view" aria-hidden="true" style="padding-right: 8px"></i>訂購資料
      </div>
      <div class="checkout-data clearfix">
        <div class="col-md-6 padding-left-none fadeInLeft wow" data-wow-delay=".2s">
          <div class="well clearfix">
            <div class="well-title">訂購人資訊</div>
            <div class="well-div clearfix fadeInLeft wow" data-wow-delay=".4s">             
              <span class="well-div-span well-div-span-mobile">姓<span class="spacing"></span>名:</span>
              <b>{{ payment_name }}</b>
            </div>
            <div class="well-div clearfix">
              <span class="well-div-span well-div-span-mobile">電子信箱:</span>
              <b>{{ payment_email }}</b>
            </div>
            <div class="well-div clearfix">
              <span class="well-div-span well-div-span-mobile">行動電話:</span>
              <b>{{ payment_mobile }}</b>
            </div>
            <div class="well-div clearfix">
              <span class="well-div-span well-div-span-mobile">訂購地址:</span>
              <b>{{ payment_country }} ({{ payment_postcode }}) {{ payment_city }} {{ payment_zone }} {{ payment_address }}</b>
            </div>
          </div>
        </div>
        <div class="col-md-6 padding-right-none fadeInRight wow" data-wow-delay=".4s">
          <div class="well clearfix">
            <div class="well-title">
              收件人資訊
            </div>
            <div class="well-div clearfix">
              <span class="well-div-span well-div-span-mobile">姓<span class="spacing"></span>名:</span>
              <b>{{ shipping_name }}</b>
            </div>
            <div class="well-div clearfix">
              <span class="well-div-span well-div-span-mobile">電子信箱:</span>
              <b>{{ shipping_email }}</b>
            </div>
            <div class="well-div clearfix">
              <span class="well-div-span well-div-span-mobile">行動電話:</span>
              <b>{{ shipping_mobile }}</b>
            </div>
            <div class="well-div clearfix">
              <span class="well-div-span well-div-span-mobile">訂購地址:</span>
              <b>{{ shipping_country }} ({{ shipping_postcode }}) {{ shipping_city }} {{ shipping_zone }} {{ shipping_address }}</b>
            </div>
          </div>
        </div>
      </div><!-- checkout-data -->
      <div class="title-div main-color" id="confirm-btn">
        <i class="fa fa-street-view" aria-hidden="true" style="padding-right: 8px"></i>
        商品清單
        <span>查看清單</span>
      </div>
      <div class="pick-table clearfix fadeInUp wow confirm" data-wow-delay=".2s">
        {{ confirm_cart }} {{ confirm_total }}
      </div><!-- pick-table -->
      
      <div class="shoppong-btn text-right">
        <a href="{{ home }}">回首頁<i class="fa fa-hand-o-right" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <script>
    $( "#confirm-btn" ).click(function() {
      $( ".confirm" ).fadeToggle( "slow");
    });
  </script>
  <script type="text/javascript"> 
    $(function(){ 
      $(".scroll-top").click(function(){    
        $('html, body').animate({scrollTop: $(".cart").offset().top -130}, 900);
        return false;
      });
       $(".scroll-bottom").click(function(){
        $("html,body").animate({scrollTop:0},900);
        return false;
      });   
    });
  </script>
  <div class="new-slide-bottom clearfix">
    <p><img src="images/about-slide-after.png" alt="" class="fadeInUp wow" data-wow-delay=".1s"></p>
    <p><img src="images/contact-img-one.png" alt="" class="fadeInUp wow" data-wow-delay=".3s"></p>
    <p>
      <img src="images/i-slide-bottom.png" alt="" class="slide-pc scroll-bottom fadeInUp wow" data-wow-delay=".5s">
      <img src="images/i-slide-bottom.svg" alt="" class="slide-mobile scroll-bottom">
    </p>
  </div>
  </div>
</div>  

<!--   <script>
    alert('提醒您,假冒商家誤設分期付款勿理會，銀行要求去ATM解除設定必是詐騙');
  </script> -->
{{ footer }}