{{ header }}
<div id="banner">
    <div class="swiper-viewport">
        <div id="swiper" class="swiper-container">
            <div class="swiper-wrapper">
                {% for image in images %}
                    <div class="swiper-slide">
                        <img src="{{ image }}" />
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <h1 class="page_header">- 關於棕櫚湖岸 -<span>ABOUT US</span></h1>
</div>
<div id="page_wapper">
   <div class="container">
      <div id="news-information">
            {% for articles in article %}
                <h1>{{ articles.name }}</h1>
            {% endfor %}
            {% if image %}
                <div class="cover" style="margin-bottom:30px;"><img src="{{ image }}" class="img-responsive"></div>
            {% endif %}
            {% for articles in article %}
                <div class="description">
                    {{ articles.description }}
                </div>
            {% endfor %}
            <div style="padding:30px 0; text-align: center;"><a href="{{ back }}" class="btn btn-lg btn-black">回上頁</a></div>
        </div>
   </div>     
</div>

{{ footer }}